.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center; 
    padding: 20px 10px;
    border: 40px solid   	rgb(139, 0, 0);
    border-radius: 30px;
    margin-top: 15px;
}
.create label,
.create p {
    text-align: center; 
    display: block;
}
.create h2{
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}
.create input,
.create textarea,
.create select { 
    width: 100%;
    padding: 10px 10px;
    margin: 20px 0;
    border: 3px solid #1f3694;
    box-sizing: border-box;
    display: block;
    border-radius: 30px;
}
/*.create button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}*/